---
import Layout from '../components/Layout';
import PromptLibrary from '../components/PromptLibrary';

import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Prompt Library</title>
	</head>
	<body className="bg-gray-50">
		<Layout>
			<PromptLibrary client:load />
		</Layout>
	</body>
</html>
